@model Netzalist.LeadManager.Web.Models.ViewModels.Leads.CompanyViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        @{
            Html.RenderPartial("~/Views/Company/_EditCompany.cshtml");
        }

        <div style="text-align: right; width:405px">
            <input type="submit" value="Speichern" /><br/>
            @Html.ActionLink("Zurück zur Liste", "Index")&nbsp;
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
