@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Dies ist nur eine Testseite und wird bald wieder verschwinden. 
    </p>
    <h3>Wenn Sie nicht <i>Spatzl</i> sind haben Sie hier nichts zu suchen!</h3>
</article>

<aside>
    <h3>Andere Interessante Seiten</h3>
    <p>
        Es gibt doch auch andere interessante Seiten!
    </p>
    <ul>
        <li><a href="http://www.spiegel.de">www.spiegel.de</a></li>
        <li><a href="http://www.focus.de">www.focus.de</a></li>
        <li><a href="http://www.faz.net">www.faz.net</a></li>
    </ul>
</aside>